name: Generate Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
    - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@v3
      - uses: Platane/snk@v3
        with:
          github_user_name: ${{ github.repository_owner }}
          outputs: |
            dist/github-snake.svg?color_snake=#ff00ff&color_dots=#161b22,#00ffff,#00cccc,#009999,#006666
            dist/github-snake-dark.svg?palette=github-dark&color_snake=#ff00ff&color_dots=#161b22,#00ffff,#00cccc,#009999,#006666
            dist/ocean.gif?color_snake=#ff00ff&color_dots=#161b22,#00ffff,#00cccc,#009999,#006666
      - uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
